# This is the default configuration file for bb_cppverify used at Bloomberg LP.
namespace BloombergLP

# This string in a file indicates that the file is part of the enterprise.
set enterprise Bloomberg

# Maximum number of lines and statements in an inline function.
set max_inline_lines 20

# Don't warn about scope of global definitions in main file.
set main_namespace_check off

# Don't warn about scope of global definitions in these packages.
set global_packages bslmf bslstl

# Don't warn about global definitions in these namespaces.
set standard_namespaces bsl std BloombergLP::bslstl native_std

# Don't warn about these global names at all.
set global_names hashAppend

# Allow imperfect banner centering.
set banner_slack 5

# Allowed number of non-noise words between 'specified' and parameter in
# function contract.
set word_slack 3

# Allowed number of available positions at end of comment line which will not
# draw a "can wrap" warning from the next line.
set wrap_slack 1

# If a word appears at least this many times, assume it's spelled correctly.
set spelled_ok_count 3

# These words are to be considered spelled correctly
# set dictionary

# These are recognized abbreviations for use in variable names.
# set variable_abbreviations

# Enable only those checks which are "universal," not specific to BDE.
# check allocator-forward on
suppress RV01 *
suppress AU01 *
suppress AL01 *
suppress AP01 *
suppress AP02 *
# check allocator-new on
check alphabetical-functions off
# check anon-namespace on
# check array-argument on
check array-initialization off
# check assert-assign on
check banner off
check boolcomparison off
check bsl-overrides-std off
# check bsl-std-string on
# check c-cast on
# check char-classification-range on
# check char-vs-string on
check class-sections off
check comments off
check comparison-order off
# check component-header on
# check component-prefix on
check constant-return off
check contiguous-switch off
# check cpp-in-extern-c on
# check deprecated on
check diagnostic-filter off
# check do-not-use-endl on
check dump-ast off
# check entity-restrictions on
check enum-value off
# check external-guards on
suppress SEG03 *
check files off
# check free-functions-depend on
# check friends-in-headers on
check function-contract off
# check global-data on
# check global-function-only-in-source on
# check global-type-only-in-source on
check groupname off
# check hash-pointer on
check headline off
check implicit-ctor off
# check in-enterprise-namespace on
# check include-guard on
check include-in-extern-c off
check include-order off
check indentation off
check leaking-macro off
# check local-friendship-only on
check long-inline off
check longlines off
check member-definition-in-class-definition off
# check member-names on
check mid-return off
check move-contract off
check namespace-tags off
check nested-declarations off
# check nonascii on
check operator-void-star off
check packagename off
# check ref-to-movableref on
check refactor off
check refactor-config off
# check runtime-initialization on
# check short-compare on
check spell-check off
# check strict-alias on
# check string-add on
check swap-a-b off
# check swap-using on
check template-typename off
check test-driver off
check that-which off
# check throw-non-std-exception on
# check transitive-includes on
# check unnamed-temporary on
check upper-case-names off
# check using-declaration-in-header on
# check using-directive-in-header on
# check verify-same-argument-names on
check whitespace off

## ----------------------------------------------------------------------------
## Copyright (C) 2015 Bloomberg Finance L.P.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
## ----------------------------- END-OF-FILE ----------------------------------
