# This is the default configuration file for bde_verify used at Bloomberg LP.
namespace BloombergLP

# This string in a file indicates that the file is part of the enterprise.
set enterprise Bloomberg

# Maximum number of lines and statements in an inline function.
set max_inline_lines 20

# Don't warn about scope of global definitions in main file.
set main_namespace_check off

# Don't warn about scope of global definitions in these packages.
set global_packages bslmf bslstl

# Don't warn about global definitions in these namespaces.
set standard_namespaces bsl std BloombergLP::bslstl native_std

# Don't warn about these global names at all.
set global_names hashAppend

# Allow imperfect banner centering.
set banner_slack 5

# Allowed number of non-noise words between 'specified' and parameter in
# function contract.
set word_slack 3

# Allowed number of available positions at end of comment line which will not
# draw a "can wrap" warning from the next line.
set wrap_slack 1

# If a word appears at least this many times, assume it's spelled correctly.
set spelled_ok_count 3

# These words are to be considered spelled correctly
# set dictionary

# These are recognized abbreviations for use in variable names.
# set variable_abbreviations

# Redundant include guards are no longer required.
suppress SEG03 *

# Don't warn about likely correct uses of managed pointer.
suppress MPOK1 *
suppress MPOK2 *
suppress MPOK3 *

# These are specialized checks that are not problems for general code.
suppress AU01 *
check array-initialization  off
check boolcomparison        off
check constant-return       off
check dump-ast              off
check move-contract         off
check precondition-moves    off
check refactor              off
check refactor-config       off

check bsl-overrides-std     off
set bslovrstd_extcpp        off
set bslovrstd_guard         off

check comparison-order      off

## ----------------------------------------------------------------------------
## Copyright (C) 2014 Bloomberg Finance L.P.
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
## ----------------------------- END-OF-FILE ----------------------------------
