Source: bde-verify
Section: devel
Priority: extra
Maintainer: Oleg Subbotin <osubbotin@bloomberg.net>
Build-Depends:
    cmake-debhelper,
    cmake,
    pkg-config,
    plink-cmake-toolchain,
    gcc-build-base,
    aspell,
    aspell-en,
    llvm-14.0,
    clang-14.0,
    libclang-14.0-dev,
    libncurses5-dev,
    libz-dev
Standards-Version: 3.8.4

Package: bde-verify
Architecture: amd64 solaris10-sparc
Description: bde_verify
Depends: ${libgcc-Depends},
         ${libstdcpp-Depends},
         coreutils,
         perl,
         aspell,
         aspell-en,
         libz1,
         libncurses5

Package: libbde-verify-dev
Depends: llvm-11.0-dev
Architecture: amd64 solaris10-sparc
Description: bde_verify base library and headers
