Source: bde-verify
Section: unknown
Priority: extra
Maintainer: Oleg Subbotin <osubbotin@bloomberg.net>
Build-Depends: 
    gcc-build-base,
    cmake,
    ninja,
    pkg-config,
    gcc-build-base,
    cmake-import-pkgconfig-targets,
    aspell,
    aspell-en,
    clang-11.0,
    llvm-11.0,
    libclang-11.0-dev,
    libncurses5-dev,
    libtinfo5,
    libz-dev
Standards-Version: 3.8.4

Package: bde-verify
Architecture: amd64 solaris10-sparc
Description: bde_verify
Depends: ${libgcc-Depends}, ${libstdcpp-Depends},
         coreutils, perl, aspell, aspell-en

Package: libbde-verify-dev
Depends: llvm-11.0
Architecture: amd64 solaris10-sparc
Description: bde_verify base library and headers
