Source: bde-verify
Section: unknown
Priority: extra
Maintainer: Hyman Rosen <hrosen4@bloomberg.net>
Build-Depends: gcc-build-base,
               binutils,
               coreutils,
               clang-7.0,
               llvm-7.0,
               aspell,
               libncurses5-dev,
               libtinfo5,
               libz-dev
Standards-Version: 3.8.4

Package: bde-verify
Architecture: amd64 solaris10-sparc
Description: bde_verify
Depends: ${libgcc-Depends}, ${libstdcpp-Depends},
         coreutils, perl, aspell, aspell-en

Package: libbde-verify-dev
Depends: llvm-7.0
Architecture: amd64 solaris10-sparc
Description: bde_verify base library and headers
