#!/usr/bin/make -f
# -*- makefile -*-

thisdir := $(shell pwd)

PREFIX  ?= /opt/bb
TMPDIR  ?= /tmp
LLVMDIR ?= /opt/bb/lib/llvm-3.8
CLANG   ?= /opt/bb/lib/llvm-3.8/bin/clang++

BUILD_BASE := $(DISTRIBUTION_REFROOT)/opt/bb/share/build-base
include $(BUILD_BASE)/build-base.mk

ifeq ($(DEB_HOST_ARCH),amd64)
RDD := rhel-dts-debhelper
include $(DISTRIBUTION_REFROOT)$(PREFIX)/share/$(RDD)/$(RDD).mk
CXX := $(dir $(realpath $(shell $(RHEL_DTS_ENABLE) which gcc)))/g++
else
CXX := $(DISTRIBUTION_REFROOT)$(PREFIX)/lib/gcc-4.8/bin/g++
endif

build: build-arch

build-arch: debian/build-stamp

binary: binary-arch

binary-arch: debian/binary-stamp

debian/build-stamp:
	$(MAKE)
	touch $@

debian/install-bin-stamp: debian/build-stamp
	$(MAKE) DESTDIR=$(abspath debian/tmp/bin$(PREFIX)) install-bin
	touch $@

debian/install-dev-stamp: debian/build-stamp
	$(MAKE) DESTDIR=$(abspath debian/tmp/dev$(PREFIX)) install-dev
	touch $@

debian/install-stamp: debian/install-bin-stamp debian/install-dev-stamp
	touch $@

debian/binary-bin-stamp: debian/install-bin-stamp
	mkdir -p debian/tmp/bin/DEBIAN
	dpkg-gencontrol -pbde-verify -Pdebian/tmp/bin
	dpkg-deb -b debian/tmp/bin $(TMPDIR)
	touch $@

debian/binary-dev-stamp: debian/install-dev-stamp
	mkdir -p debian/tmp/dev/DEBIAN
	dpkg-gencontrol -plibbde-verify-dev -Pdebian/tmp/dev
	dpkg-deb -b debian/tmp/dev $(TMPDIR)
	touch $@

debian/binary-stamp: debian/binary-bin-stamp debian/binary-dev-stamp
	touch $@

.EXPORT_ALL_VARIABLES:

clean:
	rm -rf debian/tmp                                                         \
           debian/files                                                       \
           debian/build-stamp                                                 \
           debian/install-bin-stamp                                           \
           debian/install-dev-stamp                                           \
           debian/install-stamp                                               \
           debian/binary-bin-stamp                                            \
           debian/binary-dev-stamp                                            \
           debian/binary-stamp
