#!/usr/bin/make -f
# -*- makefile -*-
include $(DISTRIBUTION_REFROOT)/opt/bb/share/cmake-debhelper/cmake-debhelper-macros.mk
include $(DISTRIBUTION_REFROOT)/opt/bb/share/gcc-build-base/gcc-build-base.mk

CMAKE=$(DISTRIBUTION_REFROOT)/opt/bb/bin/cmake
LLVM_LIBDIR_64BIT:=$(DISTRIBUTION_REFROOT)$(LIBDIR_32BIT)/llvm-14.0/lib64

DEBHELPER_CMAKE_ARGS:=\
  -DCMAKE_BUILD_TYPE=Release \
  -DLLVM_DIR=$(LLVM_LIBDIR_64BIT)/cmake/llvm \
  -DClang_DIR=$(LLVM_LIBDIR_64BIT)/cmake/clang

DEBHELPER_CMAKE_EXTRA_CXXFLAGS:=-Wno-unused-local-typedef

$(eval $(call DEBHELPER_BIARCH_BUILD,64))

BB_DEBHELPER_BUILD_TARGETS+=debian/bde-verify-stamp
debian/bde-verify-stamp: debian/build64-stamp
	DESTDIR=$(abspath .)/debian/bde-verify \
	$(CMAKE) --install build64 --component bde-verify
	touch $@

BB_DEBHELPER_BUILD_TARGETS+=debian/libbde-verify-dev-stamp
debian/libbde-verify-dev-stamp: debian/build64-stamp
	DESTDIR=$(abspath .)/debian/libbde-verify-dev \
	$(CMAKE) --install build64 --component bde-verify-dev
	touch $@

define BINARY_PACKAGE

BB_DEBHELPER_CLEAN_TARGETS+=clean-$(1)
clean-$(1):
	rm -f debian/$(1)-binary-stamp
	bb-dh-clean --package $(1)

BB_DEBHELPER_BINARY_TARGETS+=debian/$(1)-binary-stamp
debian/$(1)-binary-stamp:
	bb-dh-binary --package $(1)
	touch $$@

endef

$(eval $(call BINARY_PACKAGE,bde-verify))
$(eval $(call BINARY_PACKAGE,libbde-verify-dev))

include $(DISTRIBUTION_REFROOT)/opt/bb/share/cmake-debhelper/cmake-debhelper-rules.mk
